body {
    background-color:#f2f2f2;
}

h1 {
    color:#404040;
}
h2 {
	color:#595959;
}
p {
	color:#808080;
}
ul {
	color:#808080;
}
a:link {
    color: #404040;
}

/* visited link */
a:visited {
    color: #404040;
}

/* mouse over link */
a:hover {
    color: #404040;
}

/* selected link */
a:active {
    color: #404040;
}