@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Maven+Pro|Roboto');

body {
    background-color: black;
}

header {
    padding: 20px;
}

#myMenu
{
    text-align: center;
    height: 640px;
    background-size: 100% auto;
    background-image: url('../images/dragon.jpg');
    background-repeat: no-repeat;
}

#myImages {
    padding: 10px;
    text-align: center;
    display: block;
    float: left;
    width: 250px;
    height: 250px;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 900;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    position: relative;
    top: 55px;
}

h2 {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 200;
    color: white;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color:#808080;
    line-height: 1.2em;
}

ul {
    font-family: 'Roboto', sans-serif;
    font-weight: 80;
    line-height: 1.2em;
    color:#808080;
    text-align: center;
    padding: 0;
}

video {
    display: inline-block;
    text-align: center;
}

.images {
    display: inline-block;
    text-align: center;
}

.logos {
    display: inline-block;
    align-items: left;
}

nav {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    display: inline-block;
    text-align: center;
    height: 70px;
    width: 480px;
    margin: 0 auto;
}

nav a {    
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    display: block;
    float: left;
    padding: 10px;
    text-align: center;
    border: white;
    width: 100px;
}

aside {    
    padding: 20px;
    height: 207px;
    width: 207px;
    display: inline-block;
}

#two_column {
    padding: 20px;
}

#left {
    padding: 20px; 
    float: left;
    width: 16%;
    position: relative;
    top: -25px;
}

#right {
    padding: 20px; 
    float: right;
    width: 74%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}
article {    
    padding: 20px;
    display: inline-block;
}

footer {    
    padding: 20px;
}

section {    
    padding: 20px;
}

#slogan {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 800;
    color: #808080;
    text-align: center;
    font-size: 25px;
    position: relative;
    top: 65px;
}

.nav-link {
    margin-top: 14px;
}

.logo-link {
    margin-top: 0;
}

.button {
    margin: 0 auto;
    position: relative;
    top: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: center;
    border: 1px solid white;
    border-color: white;
    width: 100px;
}

.button1 {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: center;
    border: 1px solid white;
    border-color: white;
    width: 100px;
}

nav a:hover {
    background-color: grey;
}

.button:hover {
    background-color: grey;
}

.button1:hover {
    background-color: grey;
}